@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    box-sizing: border-box;
    --piano-border-color: #787b84;
    --piano-border-color2: #d5d6dd;
    --pale-gold: #fefddb;
    --violet: rgb(159, 130, 238);
    --violet-hover: rgb(145, 119, 218);
    --violet-focus: rgb(127, 104, 190);
    --violet-bg: #4f378b;
    --dark-violet-bg: #504458;
}

#myCanvas {
    position: fixed;
    top: 5rem;
    left: 5rem;
}

body {
    overflow: hidden;
}
            
body, button, input, textarea {
    font-family: "Open Sans", serif;
}

body.piano-freeze .piano-inner {
    pointer-events: none;
}

.interface {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: calc(4rem + 1%);
    background-size: cover;
    background-position: center;
}

.piano-wrapper {
    user-select: none;
}

.btn--icon {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    transition: all 0.25s ease-in-out;
}

.btn--icon:hover {
    cursor: pointer;
    opacity: 1;
}

.btn--icon::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.9);
    transition: inherit;
}

.btn--icon:hover::before {
    opacity: 1;
    transform: none;
}

.btn--icon:active::before {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

/* Notepad */

.notepad {
    position: relative;
    top: -24rem;
}

.textarea {
    width: 23rem;
    background-color: #dbd8e2;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #3d3c41;
    padding: 0.8rem 0.7rem;
    font-weight: 500;
    line-height: 1.3;
    resize: none;
    transition: all 0.2s ease-in-out;
}

.textarea:focus {
    background-color: white;
    box-shadow: 0px 2px 3px 1px rgba(133, 133, 133, 0.4),
    0px 4px 6px 2px rgba(133, 133, 133, 0.2);
}

/* Navigation */

.nav-bar {
    position: absolute;
    top: 2rem;
    left: 3rem;
    display: flex;
}

.nav__link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
}

.nav__icon {
    width: 2.5rem;
    height: 2.5rem;
    color: transparent;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

.nav__icon:hover {
    opacity: 0.8;
}

.nav__icon--github {
    background-image: url(../images/github.svg);
}

.nav__label {
    color: #0a0a0a;
    padding: 0.5em 0.6em;
    box-shadow: 0px 2px 5px 1px rgba(133, 133, 133, 0.3);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.nav__icon:hover + .nav__label {
    opacity: 1;
    pointer-events: all;
}